{{ attach_library('RITA/principal-styling') }}
<div class="card">
    <div class="card-header" id="heading{{node.id}}">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{node.id}}" aria-expanded="true"
                aria-controls="collapse{{node.id}}">
                {{label}}
            </button>
        </h5>
    </div>
    <div id="collapse{{node.id}}" class="collapse" aria-labelledby="heading{{node.id}}" data-parent="#accordion">
        <div class="card-body">
            <p>{{node.field_desc_linea.value}}</p>
            {% if node.field_sitio_web_grupo.0.url %}
                <a class="btn btn-more" target=”_blank” href="{{node.field_sitio_web_grupo.0.url}}">Ir al sitio</a>
            {% endif %}
        </div>
    </div>
</div>